body {
	width: 100vw;
	height: 90vh;
	color: #fff;
	background: linear-gradient(30deg, #F9A8A8, #FEEDED, #DAE4F4, #92BAFE);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
}
@keyframes old {
  0% {color: #F9A8A8;}
  25% {color: #92BAFE;}
  50% {color: #DAE4F4;}
  75%  {color: #FEEDED;}
  100%{color: #F9A8A8;}
}

@keyframes old-space {
  0% {color: #F9A8A8;}
  25% {color: #92BAFE;}
  50% {color: #DAE4F4;}
  75%  {color: #FEEDED;}
  100%{color: #F9A8A8;}
}



div.textInput{
  position:static;
  width:50%;
  align:center;
  margin-left:30%;
	padding-top: 30px;

}

input{
	z-index:100;
}

input#song{
  position:static;
  font-size: 400%;
  width:400px;
  height:100px;
  background-color: transparent;
  animation: old 5s ease infinite;
	transform:skew(10deg, 3deg);
	border:none;

}

input#song:focus{
	outline:none
}


div.head{
	display:flex;
	flex-wrap:wrap;
	width:100%;
  position:fixed;
  font-size:30px;
  /* animation: letters 5s ease infinite; */
  animation:old-space 20s ease infinite;
  transform:skew(0deg, 0deg);
	line-height: 20px;
	letter-spacing: 40px;
	cursor:pointer;
	z-index:-1;
}

@keyframes lineHeight {
  0% {letter-spacing: : 0px;}
  50% {letter-spacing: 40px;}
  100%{letter-spacing: 0px;}
}
/* div.head2{
  color:black;
  margin-top:90px;
  margin-left:900px;
}

div.head3{
  color:black;
  margin-top:90px;
  margin-left:300px;
} */




@keyframes letters {
  0% {letter-spacing: 5px;
      transform:skew(-20deg, -30deg)
    }
  25% {letter-spacing: 15px;}
  50% {letter-spacing: 25px;
      transform:skew(-10deg, 10deg);
    }
  75%  {letter-spacing: 15px;
        transform:skew(10deg, 5deg)
      }
  100% {letter-spacing: 5px;
        transform:skew(-20deg, -30deg)
      }
}


@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}
