body {
	width: 90vw;
	height: 90vh;
	color: #fff;
	background: linear-gradient(30deg, #F9A8A8, #FEEDED, #DAE4F4, #92BAFE);
	background-size: 400% 400%;
	animation: Gradient 15s ease infinite;
	cursor:default;
	font-family: 'Nunito', sans-serif;
	font-weight:7em;
	display:flex;
	margin: 3em;
}
.instructions{
	opacity:0.5;
animation:old 20s alternate ease;
text-shadow:1px 1px peachpuff;
transition: letter-spacing 2s ease, transform 2s ease
}

@keyframes instructions {
	0% {transform:skew(0deg, 0deg);}
	50% {transform:skew(2deg, 5deg);}
	100%{transform:skew(0deg, -5deg);}
}

@keyframes old {
  0% {color: #F9A8A8;}
  25% {color: #92BAFE;}
  50% {color: #DAE4F4;}
  75%  {color: #FEEDED;}
  100%{color: #F9A8A8;}
}

@keyframes old-space {
  0% {color: #F9A8A8;}
  25% {color: #92BAFE;}
  50% {color: #DAE4F4;}
  75%  {color: #FEEDED;}
  100%{color: #F9A8A8;}
}



.textInput{
	/* display:grid; */
  /* position:relative; */
  float:left;
	padding-top: 30px;
	flex:60%;
}

input#song{
	/* flex:60%;
	width:60%; */
	/* display:inline-block;
  position:static; */
  font-size: 400%;
  /* width:100%; */
  height:60%;
  background-color: rgba(253, 221, 216, 0.25);
	border-radius: 10px;
  animation: old 5s ease infinite;
	transform:skew(10deg, 3deg);
	border:none;
	text-align:justify;
	/* display:flex;
	flex-wrap:wrap; */
	overflow:visible;
	animation: selected 5s ease-in-out infinite , old 5s ease-in-out infinite, selected-spacing 20s ease-in-out infinite;
	text-shadow:0px 4px red;
	margin-top:1em;
}

input#song.song2{
	animation: selected2 12s ease-in-out infinite , old 10s ease-in-out infinite, selected-spacing2 30s ease-in-out infinite;

}
input#song.song3{
	animation: selected 8s ease-in-out infinite , old 7s ease-in-out infinite, selected-spacing2 35s ease-in-out infinite;
}

input#song:focus{
	outline:none;
	background-color:transparent;
}

::placeholder{
	color:white;
	opacity:0.4;
}


@keyframes selected {
	0% {transform:skew(10deg, 3deg);}
	50% {transform:skew(12deg, 2deg);}
	100%{transform:skew(10deg, 3deg);}
}

@keyframes selected2 {
	0% {transform:skew(10deg, 3deg);}
	50% {transform:skew(13deg, 0deg);}
	100%{transform:skew(10deg, 3deg);}
}


@keyframes selected-spacing {
	0% {letter-spacing:0px;}
	50% {letter-spacing:10px;}
	100% {letter-spacing:0px;}
}

@keyframes selected-spacing2 {
	0% {letter-spacing:0px;}
	50% {letter-spacing:20px;}
	100% {letter-spacing:0px;}
}


div.noteContainer{
	position:static;
	font-size: 3.5em;
	text-shadow: 0px 3px #DAE4F4, 2px 0px gainsboro;
	color:#F9A8A8;
	text-align:center;
	max-width: 750px;
	max-height:500px;
	min-height:100px;
  margin: auto;
	display: inline-flex;
	flex-wrap:wrap;
	letter-spacing: 9px;
	background-size: 20px 20px;
	user-select: none;
	overflow-y:scroll;
	overflow-x:visible;
	line-height:.6em;
	padding-top:1em;
	margin-top:1em;
}

::-webkit-scrollbar {
    width: 0px;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}


.noteBtn{
	position:relative;
	color:black;
	width:50px;
	z-index:100;
}

div.ltr{
	transform:skew(-10deg, -3deg)
	/* flex:1; */
}


div.ltr:nth-child(10n+0){
	transform: rotate(-29deg);
	color:#F9A8A0;
	text-shadow: 3px 0px crimson, 2px 0px gainsboro;
}

div.ltr:nth-child(4n+0){
	transform: rotate(9deg);
	text-shadow: 10px 0px #FE4646, 2px 0px gainsboro;
}
div.ltr:nth-child(22n+0){
	transform: rotate(45deg);
	text-shadow: 1px 8px cornsilk, 2px 0px gainsboro;
	/* font-size:51px; */
}

div.ltr:hover{
	color:white;
	transform:rotate(10deg);
	font-size:105%;
}

div.ltr:active{
	font-size:90%;
}



@keyframes spin { 100% { transform:rotate(359deg); } }


div.trying{
	width:400px;
	height:400px;
	background-color: black;
}


div.head{
	display:flex;
	flex-wrap:wrap;
	width:100%;
  position:fixed;
  font-size:30px;
	right: 2em;
  /* animation: letters 5s ease infinite;
  animation:old-space 20s ease infinite; */
  transform:skew(0deg, 0deg);
	line-height: 20px;
	letter-spacing: 15px;
	/* cursor:pointer; */
}

.hoke{
	position:fixed;
	align:center;
	letter-spacing: 6em;
	transform:skew(-5deg, 2deg);
	z-index:-1;
}

.hoke:hover{
	opacity:0.1
}

@keyframes lineHeight {
  0% {letter-spacing: : 0px;}
  50% {letter-spacing: 40px;}
  100%{letter-spacing: 0px;}
}

@keyframes letters {
  0% {letter-spacing: 5px;
      transform:skew(-20deg, -30deg)
    }
  25% {letter-spacing: 15px;}
  50% {letter-spacing: 25px;
      transform:skew(-10deg, 10deg);
    }
  75%  {letter-spacing: 15px;
        transform:skew(10deg, 5deg)
      }
  100% {letter-spacing: 5px;
        transform:skew(-20deg, -30deg)
      }
}

@keyframes Gradient {
	0% {
		background-position: 0% 50%
	}
	50% {
		background-position: 100% 50%
	}
	100% {
		background-position: 0% 50%
	}
}

button, .noteBtn {
  display: inline-block;
  padding: 5px;
  font-size: 1em;
  color: white;
  background-color: #F9A8A8;
  border: none;
  border-radius: 4px;
  box-shadow: 2px 7px seashell;
	outline:none;
	transform:skewX(-10deg);
}

button:hover, .noteBtn:hover {
  background-color: seashell;
  animation: old 4s infinite;
}

button:active, .noteBtn:active {
  background-color: mistyrose;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


button.jam{
	position:fixed;
	font-family:"archivo", sans-serif;
	font-weight:bold;
	/* margin-top:0em; */
	float:right;
	right:0;
	top:0;
	margin-right:1em;
}
button.clear{
	position: fixed;
	font-family:"archivo", sans-serif;
	font-weight:bold;
	float:right;
	right:0;
	top:0;
	margin-right:4em;
}
